<div id="card" class="card" style="width: auto;">
    <div class="card-body">
        <p class="card-text"><span>E-mail :</span> boobalan97ms<span>@</span>gmail.com</p>
        <p class="card-text"><span>Mobile :</span> <a href="tel:+919629277533" data-bs-toggle="tooltip"
                data-bs-placement="top" data-bs-title="Click to call"> 96292-77533</a>&nbsp; <i
                class="bi bi-phone"></i></p>
        <p class="card-text"><span>From &nbsp;&nbsp;&nbsp;:</span> Salem, TN. </p>
    </div>
</div>