<div class="container">
    <div id="card" class="card mb-2 p-sm-3 p-md-5 p-lg-5" style="width: auto;">


        EXPERIENCE
        Front End Developer
        02/2022 - NOW
        Zettaone Technologies
        Bangalore

        Developed interactive and responsive user interfaces using Angular, HTML, CSS, and JavaScript.
        Collaborated closely with UI/UX designers to translate wireframes and design mockups into functional code.
        Implemented front-end functionality and ensured cross-browser compatibility
        Conducted thorough testing and debugging to ensure optimal application performance.
        Worked closely with backend developers, utilizing technologies like MySQL, Express, and Node.js, to integrate
        front-end components with server-side logic.
        Stayed up-to-date with the latest industry trends and best practices in front-end development.
    </div>
</div>