<div class="container-fluid">
  <div class="row border border-primary py-3 text-sm-center text-center">
    <div class="col-lg-6 col-md-6 border border-primary">
      <img src="../../../assets/Pictures/mountain-pic.jpg" class="img-fluid rounded mx-auto d-block" width="200"
        height="150" alt="Profile__Image">
    </div>
    <div class="col-lg-6 col-md-6 border border-primary">
      <h1>HI THERE.! I'M</h1>
      <h3>Boobalan.Ms</h3>
      <p>A <b>Full-stack Developer</b> Passionate about implementing and launching new projects.</p>
      <p>Active learner, loves to learn new technologies.</p>
      <button type="button" class="btn btn-secondary p-2">Resume</button>
      <button type="button" class="btn btn-secondary p-2 ms-2 me-2">Naukri</button>
      <button type="button" class="btn btn-secondary p-2">LinkedIN</button>
    </div>
  </div>
</div>