<!-- <div class="container" id="avatar--profile">
  <div class="row py-3 text-sm-center text-center">
    <div class="col-lg-6 col-md-6 align-self-center">
      <img src="../../../assets/Pictures/mountain-pic.jpg" class="img-fluid rounded mx-auto d-block" width="200"
        height="150" alt="Profile__Image">
    </div>
    <div class="col-lg-6 col-md-6">
      <h1>HI THERE.! I'M Boobalan.Ms</h1>      
      <p>A <b>Full-stack Developer</b> Passionate about implementing and launching new projects.</p>
      <p>Active learner, loves to learn new technologies.</p>
      <button type="button" class="btn btn-secondary p-2">Resume</button>
      <button type="button" class="btn btn-secondary p-2 ms-2 me-2">Naukri</button>
      <button type="button" class="btn btn-secondary p-2">LinkedIN</button>
    </div>
  </div>
</div> -->
<div class="container">
  <div id="card" class="card mb-2 p-md-5 p-lg-5" style="width: auto;">
    <div class="text-center">
      <img src="../../../assets/Pictures/mountain-pic.jpg" id="avatar" alt="profile">
    </div>
    <div class="card-body">
      <h1 class="card-title  text-center">I'm <span>Boobalan.Ms</span></h1>
      <p>A <span>Full-stack Developer</span> Passionate about implementing and launching new projects.</p>
      <p>Active learner, loves to learn new technologies.</p>
      <div class="text-center">
        <button type="button" id="buttons" class="btn border p-2">Resume<i class="bi bi-file-arrow-down ms-2"></i></button>
        <button type="button" id="buttons" class="btn border p-2 ms-2 me-2">Naukri</button>
        <button type="button" id="buttons" class="btn border p-2">LinkedIN <i class="bi bi-linkedin ms-2"></i></button>
      </div>
    </div>
  </div>
</div>