<div class="container">
        <div id="card" class="card mb-2" style="width: auto;">
            <div class="card-body">
                <h5 class="card-title  text-center">SSLC</h5>
                <p class="card-text"><span>Name of school :</span> SKT matric. Hr. Sec. School</p>
                <p class="card-text"><span>year of pass :</span> 2013 </p>
                <p class="card-text"><span>Total percentage :</span> 95 <span> % </span></p>
            </div>
        </div>
   
        <div id="card" class="card mb-2" style="width: auto;">
            <div class="card-body">
                <h5 class="card-title text-center">HSC</h5>
                <p class="card-text"><span>Name of school :</span> Vidya vikas boys Hr. Sec. School</p>
                <p class="card-text"><span>year of pass :</span> 2015 </p>
                <p class="card-text"><span>Total percentage :</span> 91 <span> % </span></p>
            </div>
        </div>
   
        <div id="card" class="card" style="width: auto;">
            <div class="card-body">
                <h5 class="card-title text-center">College</h5>
                <p class="card-text"><span>Name of school :</span> Maharaja engineering college</p>
                <p class="card-text"><span>year of pass :</span> 2019</p>
                <p class="card-text"><span>CGPA :</span> 7.14</p>
            </div>
        </div>
   
</div>